{% extends "base.html" %}

{% block content %}

<h3 class="my-3">ダッシュボード</h3>
<div class="d-flex align-items-center justify-content-center flex-column">
    <div class="profile_picture">
        <img src="{{ account_data.profile_picture_url }}" alt="" class="card-img-top rounded-circle">
    </div>
    <h4 class="my3">{{ account_data.username }}</h4>
</div>

<h4 class="mt-4">サマリー</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card p-3">
            <h5>フォロワー数</h5>
            <div class="display-4">{{ account_data.followers_count }}</div>
            <p>{{ today }}</p>
        </div>
    </div>
    <div class="col">
        <div class="card p-3">
            <h5>フォロー数</h5>
            <div class="display-4">{{ account_data.follows_count }}</div>
            <p>{{ today }}</p>
        </div>
    </div>
    <div class="col">
        <div class="card p-3">
            <h5>投稿数</h5>
            <div class="display-4">{{ account_data.media_count }}</div>
            <p>{{ today }}</p>
        </div>
    </div>
</div>

<h4 class="mt-4">User Data</h4>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card p-3">
            <canvas id="follower_data_chart"></canvas>
        </div>
    </div>
    <div class="col">
        <div class="card p-3">
            <canvas id="follows_data_chart"></canvas>
        </div>
    </div>
    <div class="col">
        <div class="card p-3">
            <canvas id="ff_data_chart"></canvas>
        </div>
    </div>
</div>

<h4 class="mt-4">Post Data</h4>

<div class="card p-3">
    <canvas id="post_chart" height="400"></canvas>
</div>

<h4 class="mt-4">Latest Post</h4>
<div class="card p-3">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ insight_media_data.permalink }}">
                {% if insight_media_data.media_type == 'VIDEO' %}
                <div class="ratio ratio-16x9 mb-3">
                    <iframe src="{{ insight_media_data.media_url }}" class="" allowfullscreen></iframe>
                </div>
                {% else %}
                    <img src="{{ insight_media_data.media_url }}" alt="" class="card-img-top">
                {% endif %}
            </a>
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <td>{{ insight_media_data.caption|linebreaksbr}}</td>
            </div>
            <table class="table table-sm">
                <tr>
                    <td>Post Date</td>
                    <td>{{ insight_media_data.timestamp }}</td>
                </tr>
                <tr>
                    <td>Impression</td>
                    <td>{{ insight_media_data.impression }}</td>
                </tr>
                <tr>
                    <td>Reach</td>
                    <td>{{ insight_media_data.reach}}</td>
                </tr>
                <tr>
                    <td>Like</td>
                    <td>{{ insight_media_data.like_count }}</td>
                </tr>
                <tr>
                    <td>Comments</td>
                    <td>{{ insight_media_data.comments_count }}</td>
                </tr>
                <tr>
                    <td>Save</td>
                    <td>{{ insight_media_data.Save }}</td>
                </tr>
                <tr>
                    <td>Engagement</td>
                    <td>{{ insight_media_data.engagement}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    const insight_data = JSON.parse('{{ Insight_data|safe }}');
    const item_lst = ['follower_data', 'follows_data', 'ff_data'];
    const label = {
        'follower_data': 'フォロワー数',
        'follows_data': 'フォロー数',
        'ff_data': 'フォロー・フォロワー比率',
    }
    for (var item of item_lst) {
        const follower_count_ctx = document.getElementById(item + '_chart');
        const follower_count = new Chart(follower_count_ctx, {
            type: 'line',
            data: {
                labels: insight_data.label_data,
                datasets: [
                    {
                        label: label[item],
                        data: insight_data[item],
                        borderColor: "rgba(207,46,146,0.5)",
                        backgroundColor: 'rgba(207,46,146,0.5)',
                    }
                ]
            },
            options: {
                elements: {
                    line: {
                        tension: 0,
                    },
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: false,
                },
                responsive: true,
            }
        });
    }
    const post_data = JSON.parse('{{ Post_data|safe }}');
    const follower_count_ctx = document.getElementById('post_chart');
        const follower_count = new Chart(follower_count_ctx, {
            type: 'bar',
            data: {
                labels: post_data.post_label_data,
                datasets: [
                    {
                        label: '投稿数',
                        data: post_data.count_data,
                        borderColor: "rgba(207,46,146,0.5)",
                        backgroundColor: 'rgba(207,105,57,0.5)',
                    },
                    {
                        label: 'いいね数',
                        data: post_data.like_data,
                        borderColor: "rgba(207,46,146,0.5)",
                        backgroundColor: 'rgba(207,46,146,0.5)',
                    },
                    {
                        label: 'コメント数',
                        data: post_data.comment_data,
                        borderColor: "rgba(207,46,146,0.5)",
                        backgroundColor: 'rgba(255,221,131,0.5)',
                    },
                ]
            },
            options: {
                tooltips: {
                    mode: 'nearest',
                    intersect: false,
                },
                responsive: true,
            }
        });

</script>

{% endblock %}